@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&family=Space+Mono&family=Playfair+Display&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

p {
  font-family: "Montserrat";
  font-weight: "thin";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline;
  font-weight: "bold";
  font-family: "Major Mono Display";
  background: linear-gradient(transparent calc(80% - 5px), yellow 5px);
  background-repeat: no-repeat;
  display: inline;
  background-size: 100%;
  transition: 0.5s ease;
}
